In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
df['salary_year_avg']

In [3]:
#df[pd.notna(df['salary_year_avg'])]['salary_year_avg']

In [2]:
df_salary = df[pd.notna(df['salary_year_avg'])].copy()

def projected_salary(salary):
    return salary * 1.03

df_salary['salary_year_inflated'] = df_salary['salary_year_avg'].apply(projected_salary)

df_salary[['salary_year_avg', 'salary_year_inflated']]

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]

In [3]:
df['job_skills'][1]

"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']"

In [4]:
type(df['job_skills'][1])

str

In [5]:
import ast

In [6]:
ast.literal_eval(df['job_skills'][1])

['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']

In [7]:
type(ast.literal_eval(df['job_skills'][1]))

list

In [ ]:
#This gives an error
def clean_list(skill_list):
    return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list)

In [ ]:
df[pd.isna(df['job_skills'])].head(5)

In [11]:
#regular function
def clean_list(skill_list):
    if pd.notna(skill_list):
        return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list)

In [6]:
df['job_skills'][1]

"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']"

In [ ]:
df['job_skills'][2]

In [7]:
#lambda function
import ast
df['job_skills'] = df['job_skills'].apply(lambda skill_list: ast.literal_eval(skill_list) if pd.notna(skill_list) else skill_list)

Calculate projected salary next year
- Senior roles assume 5%
- Other roles assume 3%

In [8]:
df_salary['salary_year_inflated'] = df_salary['salary_year_avg'].apply(lambda salary: salary * 1.03)

df_salary[['salary_year_avg', 'salary_year_inflated']]

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]

In [12]:
def projected_salary(row):
    if 'Senior' in row['job_title_short']:
        return 1.05 * row['salary_year_avg']
    else:
        return 1.03 * row['salary_year_avg']

df_salary['salary_year_inflated'] = df_salary.apply(projected_salary, axis=1)

df_salary[['job_title_short', 'salary_year_avg', 'salary_year_inflated']].sample(5)

             job_title_short  salary_year_avg  salary_year_inflated
67396         Data Scientist         125000.0              128750.0
474397          Data Analyst         130000.0              133900.0
469301        Data Scientist         148000.0              152440.0
646200          Data Analyst          85000.0               87550.0
218989  Senior Data Engineer         147500.0              154875.0

ðŸŸ© Convert Date to String (2.10.1) - Problem
Pandas Applying Functions
Problem Statement:
Convert the job_posted_date column to a string format 'YYYY-MM-DD' and create a new column job_posted_date_str.

In [15]:
df.sample(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
432177,Data Engineer,Data Engineer,Georgia,via LinkedIn,Full-time,False,"New York, United States",2023-04-18 16:07:11,False,False,United States,None,NaN,NaN,The Intersect Group,"[python, scala, sql, azure, databricks, qlik, ...","{'analyst_tools': ['qlik'], 'cloud': ['azure',..."
772580,Cloud Engineer,Workforce Delivery Analyst,"Miami, FL",via SonicJobs,Full-time,False,"Florida, United States",2023-04-09 01:01:33,False,True,United States,None,NaN,NaN,UnitedHealth Group,[excel],{'analyst_tools': ['excel']}
294008,Senior Data Analyst,Senior Data Analyst (m/f/d) Seo. Job in DÃ¼ssel...,"DÃ¼sseldorf, Germany",via Cambridge Careers,Full-time,False,Germany,2023-04-09 17:26:17,True,False,Germany,None,NaN,NaN,StepStone GmbH,None,None
667841,Senior Data Scientist,Senior Data Scientist,"Trenton, NJ",via BeBee,Full-time,False,"New York, United States",2023-10-10 10:02:31,False,False,United States,None,NaN,NaN,HUB International,"[r, python, sql, sql server]","{'databases': ['sql server'], 'programming': [..."
600330,Business Analyst,Business Intelligence-konsult till LinkÃ¶ping,"LinkÃ¶ping, Sweden",via Jobbsafari,Full-time,False,Sweden,2023-12-14 09:28:55,True,False,Sweden,None,NaN,NaN,Sogeti,"[python, sql, azure, dax]","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."

In [23]:
df_copy = df.copy()

In [21]:
df_copy['job_posted_date_str'] = df_copy['job_posted_date'].dt.strftime('%Y-%m-%d')

In [25]:
df_copy['job_posted_date_str'] = df_copy['job_posted_date'].apply(lambda date: date.strftime('%Y-%m-%d'))

In [26]:
df_copy.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_date_str
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None,2023-06-16
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"[r, python, sql, nosql, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr...",2023-01-14
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"[python, sql, c#, azure, airflow, dax, docker,...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",2023-10-10
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"[python, c++, java, matlab, aws, tensorflow, k...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",2023-07-04
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"[bash, python, oracle, aws, ansible, puppet, j...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl...",2023-08-07

ðŸŸ¨ Days Since Posted (2.10.2) - Problem
Pandas Applying Functions
Problem Statement:
Calculate the number of days since each job was posted. Create a new column days_since_posted that contains this value. Use the job_posted_date column.

Note: You need to import the datetime library and use the datetime module to get the current date using .now().

Hint:
Use the apply() method with a lambda function to calculate the difference between the current date and the job posted date.

In [33]:
from datetime import datetime

In [38]:
df_copy = df.copy()

In [29]:
df_copy['days_since_posted'] = df_copy[dt.now() - 'job_posted_date']

NameError: name 'dt' is not defined

In [35]:
df_copy['days_since_posted'] = (datetime.now() - df_copy['job_posted_date']).dt.days

In [37]:
df_copy.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,days_since_posted
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None,464
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee MÃ©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"[r, python, sql, nosql, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr...",617
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"[python, sql, c#, azure, airflow, dax, docker,...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",348

In [39]:
df_copy['days_since_posted'] = df_copy.apply(lambda d:(datetime.now() - df_copy['job_posted_date']).days )

AttributeError: 'Series' object has no attribute 'days'

In [41]:
df_copy['days_since_posted'] = df_copy.apply(lambda row:(datetime.now() - row['job_posted_date']).days, axis=1 )

In [42]:
df_copy[['job_posted_date', 'days_since_posted']].head()

      job_posted_date  days_since_posted
0 2023-06-16 13:44:15                464
1 2023-01-14 13:18:07                617
2 2023-10-10 13:14:55                348
3 2023-07-04 13:01:41                446
4 2023-08-07 14:29:36                412

In [44]:
#Final Solution:
current_date = datetime.now()
df['days_since_posted'] = df['job_posted_date'].apply(lambda date: (current_date - date).days)
df[['job_posted_date', 'days_since_posted']].head()

      job_posted_date  days_since_posted
0 2023-06-16 13:44:15                464
1 2023-01-14 13:18:07                617
2 2023-10-10 13:14:55                348
3 2023-07-04 13:01:41                446
4 2023-08-07 14:29:36                412

ðŸŸ¥ Salary Category (2.10.3) - Problem
Pandas Applying Functions
Problem Statement:
Create a copy of the DataFrame called df_filtered and drop the NaN values for salary_year_avg.
Then, create a new column salary_category that categorizes the salary_year_avg into three categories: 'Low' for salaries less than 60,000, 'Medium' for salaries between 60,000 and 100,000, and 'High' for salaries greater than 100,000.
Then show the df_filtered DataFrame and the salary_year_avg and salary_category columns.

In [50]:
df_copy = df.copy()

In [46]:
df_filtered = df_copy[df_copy['salary_year_avg'].dropna()]

KeyError: "None of [Index([109500.0, 140000.0, 120000.0, 228222.0,  89000.0, 114000.0, 129500.0,\n        90250.0, 157500.0, 103128.0,\n       ...\n       196800.0,  64800.0, 115000.0, 105000.0, 136400.0, 139216.0, 150000.0,\n       221875.0, 157500.0, 157500.0],\n      dtype='float64', length=22003)] are in the [columns]"

In [54]:
df_copy.dropna(subset=['salary_year_avg'], inplace=True)

In [56]:
df_filtered = df_copy

In [61]:
type(df_filtered['salary_year_avg'])

pandas.core.series.Series

In [59]:
df_filtered.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,days_since_posted
28,Data Scientist,CRM Data Specialist,"San JosÃ© Province, San JosÃ©, Costa Rica",via Ai-Jobs.net,Full-time,False,Costa Rica,2023-08-01 13:37:57,False,False,Costa Rica,year,109500.0,NaN,Netskope,"[gdpr, excel]","{'analyst_tools': ['excel'], 'libraries': ['gd...",418
77,Data Engineer,Data Engineer,"Arlington, VA",via LinkedIn,Full-time,False,Sudan,2023-06-26 14:22:54,False,False,Sudan,year,140000.0,NaN,Intelletec,"[mongodb, mongodb, python, r, sql, mysql, mari...","{'analyst_tools': ['tableau'], 'cloud': ['orac...",454
92,Data Engineer,Remote - Data Engineer - Permanent - W2,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-02-21 13:29:59,False,True,United States,year,120000.0,NaN,Apex Systems,"[sql, python]","{'programming': ['sql', 'python']}",579

In [73]:
def salary_cat(row):
    if df_filtered['salary_year_avg'] > 100000:
        return 'High'
    elif df_filtered['salary_year_avg'] > 60000:
        return 'Medium'
    else:
        return 'Low'

df_filtered['salary_category'] = df.apply(salary_cat, axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [74]:
def salary_cat(row):
    if row['salary_year_avg'] > 100000:
        return 'High'
    elif row['salary_year_avg'] > 60000:
        return 'Medium'
    else:
        return 'Low'

df_filtered['salary_category'] = df.apply(salary_cat, axis=1)

In [75]:
df_filtered[['salary_year_avg', 'salary_category']].head()

     salary_year_avg salary_category
28          109500.0            High
77          140000.0            High
92          120000.0            High
100         228222.0            High
109          89000.0          Medium

In [76]:
df_filtered['salary_category'] = df.apply(lambda row: 'High' if row['salary_year_avg'] > 100000 elif 'Medium' if row['salary_year_avg'] > 60000 else 'Low', axis=1)

SyntaxError: expected 'else' after 'if' expression (1802710164.py, line 1)

In [77]:
df_filtered['salary_category'] = df.apply(lambda row: 'High' if row['salary_year_avg'] > 100000 else 'Medium' if row['salary_year_avg'] > 60000 else 'Low', axis=1)

In [79]:
#Final Solution:
df_filtered['salary_category'] = df['salary_year_avg'].apply(lambda salary: 'High' if salary > 100000 else 'Medium' if salary > 60000 else 'Low')