In [25]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup (not needed for all problems but good to do anyways)
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
median_salary_year = df['salary_year_avg'].median()

In [5]:
median_salary_hour = df['salary_hour_avg'].median()

In [6]:
df_filled = df

df_filled ['salary_year_avg'].fillna(median_salary_year)

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [7]:
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [9]:
df_filled.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [11]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of orginal df:         ', len(df_filled))
print('Length of drop dupllicates df:', len(df_unique))
print('Rows dropped:                 ', len(df_filled)-len(df_unique))

Length of orginal df:          785741
Length of drop dupllicates df: 785640
Rows dropped:                  101

In [12]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('Length of orginal df:         ', len(df_filled))
print('Length of drop dupllicates df:', len(df_unique))
print('Rows dropped:                 ', len(df_filled)-len(df_unique))

Length of orginal df:          785741
Length of drop dupllicates df: 508042
Rows dropped:                  277699

ðŸŸ© Remove Rows with Missing Values (2.2.1) - Problem
Pandas Data Cleaning
Problem Statement:
Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.

In [17]:
df_clean = df
df_clean = df_clean.dropna(subset='salary_year_avg')

print('Length of original df:      ', len(df))
print('Lendth of clean df:         ', len(df_clean))
print('Rows dropped:               ', len(df)-len(df_clean))

Length of original df:       785741
Lendth of clean df:          22003
Rows dropped:                763738

In [18]:
#Final Solution:
rows_before = len(df)

df_cleaned = df.dropna(subset=['salary_year_avg'])
rows_after = len(df_cleaned)

rows_before, rows_after

(785741, 22003)

ðŸŸ¨ Remove Duplicate Rows (2.2.2) - Problem
Pandas Data Cleaning
Problem Statement:
Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.

In [22]:
rows_before = len(df)

df_unique = df_unique.drop_duplicates(subset=['job_location'])
rows_after = len(df_unique)

rows_before, rows_after

(785741, 17218)

In [21]:
#Final Solution:

rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

ðŸŸ¨ Fill Missing Values in Column (2.2.3) - Problem
Pandas Data Cleaning
Problem Statement:
Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

In [34]:
df_original = df
df_original = df_original.iloc[:10, 11:12]
print(df_original)

  salary_rate
0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None

In [35]:
df_after = df_original.fillna('Unknown')
print(df_after)

  salary_rate
0     Unknown
1     Unknown
2     Unknown
3     Unknown
4     Unknown
5     Unknown
6     Unknown
7     Unknown
8     Unknown
9     Unknown

In [36]:
df_original, df_after

(  salary_rate
 0        None
 1        None
 2        None
 3        None
 4        None
 5        None
 6        None
 7        None
 8        None
 9        None,
   salary_rate
 0     Unknown
 1     Unknown
 2     Unknown
 3     Unknown
 4     Unknown
 5     Unknown
 6     Unknown
 7     Unknown
 8     Unknown
 9     Unknown)

In [37]:
#Final Solution:

salary_rate_before = df['salary_rate'].head(10)

df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)

salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)